.centerMainBlock {
  padding: 30px;
}

.centerTableBlock {
}

.centerSlotTable {
    max-height: 650px;
    width: 100%;
    overflow-y: auto;
}

.centerTableRow {
  display: flex;
  flex-wrap: wrap;
  min-height: 25px;
  border-bottom: 1px solid #e7e7e7;
}

.centerTableRowInner {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 10px 0px !important;
}

.centerCellHospital {
  display: block;
  float: left;
  align-items: center;
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  width: 22%;
}

.centerName {
  font-size: 13px;
  font-weight: 400;
  color: #002060;
  padding: 0;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
}

.centerCellHospital .centerAddress {
  font-size: 14px;
  color: #998fa2;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  text-align: left;
}

.centerCellHospital .centerPin {
  font-size: 12px;
  color: #998fa2;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  text-align: left;
}

.centerName .isPaid {
  color: #fff;
  font-size: 9px;
  font-weight: 600;
  background-color: #2152b3;
  border-radius: 20px;
  padding: 2px 5px;
  margin-left: 3px;
}

.centerSlotRow {
  display: flex;
  align-items: center;
  padding: 0 !important;
  float: left;
  flex: 0 0 70%;
  max-width: 70%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

ul.slot {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
}

li.slotInfo {
  padding: 5px 0;
  width: 14%;
}

div.slotVaccineDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.slotVaccineDiv a {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 12px;
  font-weight: 700;
  background-color: #a9d18e;
  padding: 0 8px;
  display: flex;
  width: 50px;
  line-height: 20px;
  margin-top: 5px;
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  height: 20px;
}

div.slotVaccineDiv a.booked {
  background-color: red;
  color: #fff;
}

div.slotVaccineDiv .vaccineType {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.slotVaccineDiv .ageType {
}

.dayCalander {
  display: inline-block;
  border: 1px solid #eaeaea;
  width: 14%;
}
.dayCalander p {
  background: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #eaeaea;
  font-weight: 600;
  padding: 10px 7px;
  font-size: 15px;
  color: #333;
  margin: 0;
  text-align: center;
}

.calenderDates {
    width: 98%;
}

.calenderVaccineCenter {
    font-size: 16px;
    width: 21%;
    text-align: left;
    font-weight: 700;
    padding-top: 12px;
    display: block;
    float: left;
    align-items: center;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}