.label {
  padding: 5px;
}

.searchBy {
  padding: 15px;
}

.pinBlock,
.distBlock {
  padding: 15px;
  padding-top: 2px;
}

label {
  padding: 5px;
}

.preferenceBlock {
  padding-top: 30px;
}

.badgeCheckbox {
  display: none;
}

input.badgeCheckbox + span {
  border: 1px solid grey;
  background: #fff;
  padding: 5px 8px;
  width: -webkit-max-content;
  width: max-content;
  cursor: pointer;
  border-radius: 5px;
}

input.badgeCheckbox:checked + span {
  background: #2ab934;
  color: #fff;
}

.searchButton {
  margin-top: 5px;
  margin-left: 0;
  margin-bottom: 10px;
  display: inline-block;
  color: #002060;
  border: 1px solid #002060;
  --border-radius: 5px;
  border-radius: 5px;
  --background: transparent;
  height: 32px;
  --padding-start: 1.8em;
  --padding-end: 1.8em;
  --box-shadow: none;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
